.calc_div {
  margin: 20px 0;
}

.about_calc {
  margin: 20px auto;
}

.about_calc h1,
.about_calc p {
  width: 900px;
  margin: 10px;
}

.about_calc p {
  font-size: 18px;
}

.calc_form_div {
  display: flex;
  margin: 70px;
}

.calc_calcForm {
  display: flex;
  flex-direction: column;
  background: #2f2f2f;
  border-radius: 3px;
  padding: 20px;
  margin: 20px 0 40px;
  height: 400px;
  width: 500px;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  background-image: url(../../assets/Mercedes-Benz.png);
  background-blend-mode: darken;
}

.calc_formLabel {
  font-size: 24px;
}

.auto_res {
  height: 40px;
  width: 100%;
  padding-left: 10px;
  border: 1px solid #fff;
  background: #2f2f2f;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

.calc_priceInfo {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #838383;
  margin-top: 10px;
  font-size: 16px;
}

.button {
  line-height: 1;
  height: 40px;
  width: auto;
  font-size: 18px;
  padding: 0 20px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  color: #000;
  background: #fff;
  text-decoration: none;
  justify-content: center;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
}
